[2014-02-20 17:04] paregorios opened #1 "list as many as 3 upcoming events on home page"
Currently the limit is 2

[2014-02-20 17:05] paregorios commented on #1
https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/browser/utilsview.py#L21

[2015-05-22 19:49] #1 closed, assigned to nobody

[2015-05-22 19:56] paregorios opened #2 "navigation portlet first item style"
Comps show a right-ward pointing triangle edge on the first item in each column of subnavigation options (i.e., on the one corresponding to the current page). Currently on dev we get always-underlined text (which we don't like) and no such triangular edge.

Here's what we see on dev now:
![dev](https://cloud.githubusercontent.com/assets/263285/7778598/8d9cf426-0092-11e5-9834-dec6139e7fe2.jpg)

Her

[2015-05-22 19:59] paregorios commented on #2
This seems to me like a CSS issue. What do you think @kevintbrooks?

[2015-05-22 20:16] kevintbrooks commented on #2
Just pushed an update here. Could we put together a few folders with content so we can test how the 'folderish' styling works.

Also, is there a way to disable that styling on elements that don't have any children. It's odd on pages here to see the arrow indicating more content when there are no children in navigation: http://isaw4-dev.atlantides.org/about/facilities

[2015-05-22 20:18] paregorios opened #3 "item titles are repeated"
There seem to be a number of places on dev where we see what users will think of as the "page heading" appearing twice; once in the color-washed photo banner immediately below the header and then again in the main content section. Some of the places where I see this include (not exhaustive):
- /about
- /library
- /news
- /support-isaw

Here's an example:

![news-dev](https://cloud.githubuserconten

[2015-05-22 20:21] skleinfeldt commented on #2
@alecpm can you answer Kevin's question next week about identifying elements with no children on the nav?

[2015-05-22 20:24] paregorios commented on #2
this weirdness may be because of how I set the nav portlet hierarchy settings. Standby.

[2015-05-22 20:26] paregorios commented on #2
@kevintbrooks try it now on dev in e.g.the about section. I enabled unlimited folder depth on the nav portlet cc @alecpm @skleinfeldt

[2015-05-22 20:30] paregorios commented on #2
@kevintbrooks the update to add the right-hand-end triangular shape looks good, except when our item titles are so ridiculously long that they wrap within the menu element. Consider, for example:

![wrapped-item-dev](https://cloud.githubusercontent.com/assets/263285/7779126/6074dbe4-0097-11e5-9ef0-ffb2eaec0c4d.jpg)

[2015-05-22 20:40] paregorios opened #4 "style on list items in main content pane"
Bulleted list items inside `<div id="content-core"` are acquiring text-transformation to upper case, brick-red color, and other beauteous styling by virtue of a rule that's applied to #portal-columns ul in the isaw.theme package (I can't tell which css file through my inspector because "development mode" is not turned on in portal_css on dev). Here's an example of the effect:

![red-list-dev](http

[2015-05-22 21:00] paregorios opened #5 "remove uppercase transform on tables in content-core"
Text inside tables within `<div id="content-core"``is picking up a text-transform to uppercase and a font assignment, etc. from a rule in isaw.theme/theme.css that applies style to``#portal-columns table tbody tr td`` https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/static/theme.css#L157.

Here's some example HTML that it's happening to, following by a screen capture of the visual effe

[2015-05-22 21:05] paregorios commented on #3
Not sure to whom to assign this one ... thoughts @skleinfeldt ?

[2015-05-22 21:10] paregorios opened #6 "drop-downs for style and font-size do not display"
On dev, when editing a rich text field on a content item, one clicks the combo box (drop-down menu) for Style or Font Size, but the selectable portion of the menu never appears.

[2015-05-22 21:19] skleinfeldt commented on #3
@alecpm will probably take it, but there is no need for you to assign each ticket - we'll meet and decide how to divvy up tickets on Tuesday.

[2015-05-22 21:25] paregorios commented on #3
ok, I’ll stop bugging you about it

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On May 22, 2015, at 4:19 PM, Sally Kleinfeldt notifications@github.com wrote:

[2015-05-22 21:28] alecpm commented on #3
Just for explanatory purposes, the title in the header is the "section" title, which is generally different from the page title.  However if you are on the homepage of a top level folder (and that homepage has the same title as the section folder), then you will see that title twice.  We can attempt to automate hiding the page title under those circumstances using XSLT rules or a customized title

[2015-05-22 21:32] alecpm commented on #2
The upward pointing arrow indicates a folder with children, by default folders that aren't the current folder (and its parents) are collapsed.

[2015-05-25 11:15] paregorios opened #7 "home page carousel style"
The comps led us to expect:
-  wall-to-wall imagery on the home page
- imagery resizing to match browser width

But right now we see a right and left dead space (with arrows) on wider screens and the imagery stays the same size (i.e. underflows beyond browser sides)  as you narrow the browser window.

[2015-05-25 11:21] paregorios opened #8 "coping with giant titles in page headings and breadcrumbs"
Given our propensity for very long titles (especially for events), the current all-caps, all-the-time style for main headings is problematic (note also what happens to breadcrumbs). Any ideas (other than not using long titles, which is not an option) about what we can do in this regard? See, for example:

![giant-titles-events](https://cloud.githubusercontent.com/assets/263285/7796578/3c2ffb9a-02a

[2015-05-25 11:22] paregorios commented on #8
NB: on the current site we have a solution for breadcrumbs: custom code that truncates what's displayed at the first colon (if there is one, which in these long titles, there often is).

[2015-05-26 13:54] paregorios opened #9 "full calendar?"
Doesn't seem to be enabled on dev (or on production, despite comments to the contrary in scrumdo). The option to view events as either a listing or a full calendar was meant to be anonymous user-selectable, not something configured once for all by creator/manager.

[2015-05-26 14:08] paregorios opened #10 "menu doesn't work on home page in narrow (mobile) view"
on dev

[2015-05-26 15:32] kevintbrooks commented on #2
@paregorios I've updated the menu styling (the up/down arrows were reversed) and increased the line height for wrapped link names. The arrow is supposed to be anchored top right on elements (the comps had menu items with children to illustrate the look). We can take some time with this if you feel the arrow on solo links looks odd.

[2015-05-26 15:38] kevintbrooks commented on #8
@paregorios I like the idea of breaking breadcrumbs at the colon to keep those under control.

For long titles like this, would it be possilbe / advisable to break this up into a title and a subtitle field? Whether obvious to the user or done automatically at the colon?

[2015-05-26 15:48] kevintbrooks commented on #5
@paregorios Looking at this, I'm not really clear on why this information is laid out in a table? If I remove the table markup the content looks much nicer.
![screen shot 2015-05-26 at 11 47 35 am](https://cloud.githubusercontent.com/assets/1392386/7816569/203da9da-039d-11e5-93fa-ad0605399546.png)

[2015-05-26 16:04] kevintbrooks commented on #4
@paregorios I've updated the styling here to better conform to the site's standards for ULs and OLs. To use the 'styled' versions, you can add the 'red' classname to the ol or ul element.  @alecpm Is there / should there be an easy way to add this class in the editor?
![screen shot 2015-05-26 at 11 52 06 am](https://cloud.githubusercontent.com/assets/1392386/7816938/663af878-039f-11e5-93e8-2cbc949

[2015-05-26 16:11] kevintbrooks commented on #7
@paregorios As illustrated here, http://isaw.icscreative.com/, the code provided did provide a fully responsive slider on the homepage.

@alecpm It appears the slider library is not responsive. I've attempted to make some updates to get this to work, but it's proving a time consuming. Is there any way we can use the code I provided (which relies on the jQuery Cycle2 library?)

[2015-05-26 16:30] paregorios opened #11 "news blog listing doesn't work"
Notice that news blog listing was not as expected from comps (tiles), even though there was a display setitng for it (and it was chosen). Changed it to standard display. Went to change it back but the option for a news blog view was completely gone at that point.

[2015-05-26 17:12] skleinfeldt commented on #3
@paregorios please give us some guidance on what to do here??? Then @alecpm will proceed.

[2015-05-26 17:29] skleinfeldt commented on #4
There is an easy way to add this to the editor, @paregorios can you please open another ticket for that?

[2015-05-26 17:30] skleinfeldt commented on #7
@alecpm will be doing some more work on this.

[2015-05-26 17:30] alecpm commented on #10
The theme js was being loaded twice resulting in the menu toggling and then un-toggling itself on every click.  Should be fixed now.

[2015-05-26 17:30] cewing commented on #11
apologies @paregorios, the existing option is still the old view.  I did not get this story finished last iteration.  I will complete the work early this week for you.

[2015-05-26 17:41] alecpm commented on #7
Before I start work on this, I want to note why it's using the markup it currently uses.  In order to allow reasonable TTW management of the carousel, we're using a 3rd-party addon called EasySlider which provides a UI for creating slides and overlay text as well as setting slider parameters.  That addon provides its own (fairly similar) markup and JS.  We were hoping we could use the JS for that

[2015-05-26 20:54] paregorios commented on #10
works! thanks!

[2015-05-26 20:54] #10 closed, assigned to paregorios

[2015-05-26 20:58] paregorios commented on #8
@skleinfeldt @alecpm what's harder and more time-consuming, do you think? Writing custom code to truncate/split titles and breadcrumbs on colons, or adding subtitle field to the "event" type? Or has someone by chance written a super-cool product that does for subtitles what "lead image" does for images?

[2015-05-26 21:04] alecpm commented on #8
I think it probably makes sense to do this in JS.  Splitting the heading on the semi-colon into title/subtitle and truncating the breadcrumb on the semi-colon and/or a set number of characters. @cewing any thoughts on this?

[2015-05-26 21:10] cewing commented on #8
What does "subtitle" mean in terms of the site theme?  Is it the larger font that we had previously though would be the first paragraph of body text?  If so, do we need to watch out for and deal with cases where the title gets split into title/subtitle and suppress that first paragraph display?  And do we do this for any title that contains a colon?  Only for those on events?  What happens if the

[2015-05-26 21:17] paregorios commented on #7
TTW management of the slider settings is essential for us. The fix made by @alecpm to make the slider statically responsive is good progress.

More important to us than dynamic responsiveness is the other bullet I raised in the initial comment on this issue, which I'll reiterate here with more detail:

If the browser width is wider than 1024px, the slider doesn't fill it. We see gray space (backgr

[2015-05-26 21:19] paregorios commented on #5
That's a fine solution for this page. But I think our users will want to have some tables in other places, and I'm thinking all caps is still not what we want to see for style. Has anything been done intentionally to table styles yet, using, e.g. the various default table classes plone provides? Or is this all arbitrary inheritance right now?

[2015-05-26 21:21] kevintbrooks commented on #8
As far as styling, we'd likely come up with some CSS for this new element
to differentiate between a subtitle and an introductory piece of content.

[2015-05-26 21:23] kevintbrooks commented on #5
This is all based on the design comps which we can certainly adapt to suit
the best and most frequent use cases. Are there any other examples that
come to mind on staging we could base some adjustments off of?

[2015-05-26 21:30] paregorios opened #12 "add "red" classname option for lists to editor options"
See comment thread on #4 for information about the CSS styling we want to be able to optionally access.

[2015-05-26 21:30] paregorios commented on #4
@skleinfeldt see now #12

[2015-05-26 21:30] paregorios commented on #4
Closing this ticket, as the issue in question was fully addressed by @kevintbrooks

[2015-05-26 21:30] #4 closed, assigned to kevintbrooks

[2015-05-26 21:34] paregorios commented on #2
@kevintbrooks I see. Let's defer messing with this further for the moment. I'll take possession of the ticket and mark defer.

[2015-05-26 21:55] paregorios commented on #5
I'll gather them up

[2015-05-26 21:58] paregorios commented on #8
Ah, if only it were easy to search the ZODB via the portal catalog for all titles containing a colon. I tried playing around with the ZMI to do this, but no luck. I guess one has to write Python? @alecpm or @cewing can you advise?

[2015-05-26 21:59] paregorios opened #13 "no search icon?"
Comps had a magnifying-glass icon at upper right of top menu bar. Not visible on dev.

[2015-05-26 22:08] paregorios opened #14 "remove text-transform:uppercase from h2 and h3"
Please allow content in these elements to come through to base_view without transforming to all uppercase.

[2015-05-26 22:16] paregorios opened #15 "inconsistent use of color on subheadings"
A CSS selector in theme.css applies `color: rgba(155,58,37,1)` to all `<a>` elements in `#portal_columns`. Other rules apply a similar color to all `<h3>` elements in several sections of the site, regardless of whether they are wrapped in `<a>` or not. This inconsistency in the application of color is confusing some of our users.

What would you think about leaving the `<a>` rule as it stands, but

[2015-05-26 22:31] paregorios opened #16 "remove transparency in header elements on home page"
Please change this setting in theme.css:

[code]

to something like this:

[code]

[2015-05-26 22:32] alecpm commented on #7
Those arrows should no longer appear (some CSS that should have hidden them out of date due to caching).  I'm surprised you're seeing the image smaller than the window at 1024px, that does happen to me here, but only at 1421px (the width of the image).  It should currently be scaling it up to the actual image size, but I can adjust it to scale beyond that size (though only the initial window size)

[2015-05-26 22:33] paregorios commented on #16
And also from this:

[code]

to something like this:

[code]

[2015-05-27 18:28] alecpm commented on #7
The image scaling has been adjusted to allow scaling up the images to the full browser width.

[2015-05-27 20:02] alecpm commented on #6
While working on #12, I ran into this issue.  Unfortunately, it appears to be a bug in the TinyMCE js, which is setting the menu positioning as if it were attached to the rich text field element as opposed to fixed at the top of the window.  Upgrading Products.TinyMCE to 1.4.2 does not resolve the issue, and the issue appears to affect ISAW production as well.

[2015-05-27 20:21] alecpm commented on #12
This is implemented in the theme profile and on staging.  Additionally, I made some changes to the CSS so that these and other styles are properly visible in the WYSIWYG.

[2015-05-28 01:56] paregorios commented on #6
Do you think it will work to stop pinning the editor menus to top of window and go back to the clearly more-widely used default of pinning it to the rich text field element?

[2015-05-28 02:56] alecpm commented on #6
Yes, that will fix the issue, though you'll also want to change (or unset) the toolbar width, which currently set assuming an external toolbar.

[2015-05-28 13:43] paregorios commented on #6
I've addressed this on staging, thanks. Will close won'tfix.

[2015-05-28 13:43] #6 closed, assigned to cewing

[2015-05-29 14:28] kevintbrooks commented on #15
Agreed - H3 will default to body copy color unless it is a link.

[2015-06-02 17:38] kevintbrooks commented on #9
Here's a look at the full calendar view: ![isaw-09-calview](https://cloud.githubusercontent.com/assets/1392386/7942499/a2a0d0e8-092c-11e5-83d4-4d12fd6a9041.jpg)

[2015-06-02 17:39] kevintbrooks commented on #9
And the events lander view (see mini calendar and link to full calendar view)
![isaw-09-eventlander](https://cloud.githubusercontent.com/assets/1392386/7942530/c64176d8-092c-11e5-8cfb-507c0385aee1.jpg)

[2015-06-03 17:28] skleinfeldt opened #17 "News listing tile problem"
Some news items (aka blog) have no description and some have long descriptions, which messes up the tile arrangement. Please make CSS adjustments to fix this if possible.

[2015-06-03 17:44] skleinfeldt commented on #11
Part of Carlos' deployment so marking for review.

[2015-06-03 17:46] skleinfeldt commented on #13
We think this will be a styling issue for @kevintbrooks after @alecpm gets the search views and theming rules in place.

[2015-06-03 17:55] skleinfeldt commented on #8
@alecpm it is clear what needs to happen here? Is the JS task some you would do or @kevintbrooks ?

[2015-06-03 17:58] skleinfeldt commented on #3
@paregorios I think this was resolved by the design changes you and Kevin decided on, that are now deployed? So marking reviewing.

[2015-06-03 17:59] cguardia commented on #9
@kevintbrooks happily, the calendar header problem is not an issue on staging. There remains the matter of the links to the calendar views, which are at the top of each page right now.

[2015-06-03 18:01] alecpm commented on #8
I can do the JS.  My initial thought is to split on a ':' for both the main title and the breadcrumb.  For the main page title, we'd add a "p.sub-title" below the title tag containing the part after the colon.  For the breadcrumbs we'd just truncate (perhaps also have a word or character limit for truncating long titles with or without colons there).  Not sure what to do in listings/search though.

[2015-06-03 18:07] paregorios commented on #8
+1 on @alecpm's ideas, including the length limit for truncation, which in my view should only truncate on word breaks. My instinct is to leave listings/search alone for now; we're backing away from some of the all caps usage around the site, and it will look less crazy if we go that direction on search, but I want to see it before pushing for a CSS change.

[2015-06-04 15:00] paregorios opened #18 "theming (CSS?) failure on iphone 6 native browser"
Examples:

home page:
![img_0352](https://cloud.githubusercontent.com/assets/263285/7986974/637c285c-0aa0-11e5-94b1-ae7c4e4adb9b.PNG)

inner page:
![img_0353](https://cloud.githubusercontent.com/assets/263285/7986984/6e850e1c-0aa0-11e5-9603-7fda75c161bb.PNG)

[2015-06-04 15:01] paregorios commented on #18
Chrome on iphone 6 exhibits exactly the same problem.

[2015-06-04 15:09] paregorios commented on #18
Same problem on Opera for iphone 6.

[2015-06-04 15:32] paregorios opened #19 "events don't show up in full calendar"
There is currently a test event published on dev. You can see it summarized in the event listing:

![listing-view](https://cloud.githubusercontent.com/assets/263285/7987751/f73322d6-0aa4-11e5-839e-a810fd7e13e8.jpg)

but it doesn't show up on the corresponding day in the full calendar view:

![calendar-view](https://cloud.githubusercontent.com/assets/263285/7987759/076642be-0aa5-11e5-9e50-963ce0417

[2015-06-04 15:38] paregorios opened #20 "news listing tile images: handle legacy images and cropping"
Legacy images scale to max-height (I guess), but this oddly traps whitespace where we would expect imagery. Can we do something automatically with CSS to assuage my horror vacui, perhaps use a cropped version, if available, of the associated news item image? The cropping plugin seems to work on these, but the news listing ignores them.

[2015-06-04 15:41] #16 closed, assigned to paregorios

[2015-06-04 15:42] #15 closed, assigned to paregorios

[2015-06-04 15:43] #14 closed, assigned to paregorios

[2015-06-04 15:44] #12 closed, assigned to paregorios

[2015-06-04 15:45] paregorios commented on #11
closing as resolved, but note now #17 and #20

[2015-06-04 15:45] #11 closed, assigned to paregorios

[2015-06-04 15:46] paregorios commented on #7
closing as resolved, but note now #18

[2015-06-04 15:46] #7 closed, assigned to paregorios

[2015-06-04 15:46] paregorios commented on #3
yes. this is fixed.

[2015-06-04 15:46] #3 closed, assigned to paregorios

[2015-06-04 15:58] paregorios opened #21 "header contents on very narrow devices"
Using screenfly, I've noticed that pre-programmed devices with widths less than about 320px (e.g., Motorola RAZR V3M and V8 (240px and 176px, respectively), the NYU logo is too wide and collides with the menu button. Can we use CSS to hide the NYU logo entirely at widths below 320px? Or can we substitute a narrower alternative image?

[2015-06-04 16:01] paregorios opened #22 "home page slider: crossfade transition does not work"
When the transition is changed from "slide" to "crossfade" through the web, The first image is displayed all the time (there's a brief transition to gray). The second overlay appears on time, but we never see the second image.

[2015-06-04 16:02] paregorios commented on #22
Plain "fade" does work fwiw.

[2015-06-04 16:19] paregorios opened #23 "home page slider text overlay size and position on wide devices/browsers"
I've been experimenting with different device sizes via screenfly. This ticket is about those widths be enough to leave the primary header layout in place (i.e., fairly wide to huge).
- At widths greater than about 1366px, the overlay text starts to crawl partly below the fold, and this gets worse the wider from there we go. It seems to be because the text top or bottom is pinned to a certain perc

[2015-06-04 16:23] skleinfeldt commented on #19
@cguardia can you take a look?

[2015-06-04 16:28] skleinfeldt commented on #20
Let's discuss in standup whether we can do anything about the scale/crop (first) issue in Plone.

[2015-06-04 16:29] paregorios opened #24 "legacy event types are still hanging around in action menu"
Does this mean that we didn't migrate legacy events to new events on the last round of deployments? Or will these add options linger until something is either added to the events upgrade process, policy product, or done manually via the ZMI? I'd really like these to be gone once and for all when we deploy to production; I thought that's what we were after with the closed event migration stories.

[2015-06-04 16:34] skleinfeldt commented on #22
@cguardia can you take a look?

[2015-06-04 16:43] skleinfeldt commented on #24
Hopefully the events were migrated but the old content type was never removed. @alecpm can you take a look?

[2015-06-04 18:01] k2soule opened #25 "font weight looks too heavy in IE 11"
Looking at the home page in IE 11, the fonts look heavier. It's particularly noticeable in the four primary top navigation tabs.

[2015-06-04 18:18] paregorios opened #26 "in news listing tile view: handling absence of lead image on a news item"
The default behavior in these tiles for news items without a news image is, it appears, to provide a default image. Could we instead just use a generic band of color? Many of our users (esp. internal decision makers) will not be happy with an "unrelated" image appearing on a news item. Alternatively, we could look for an image that's associated with ISAW's identity, e.g., part of the front of the

[2015-06-04 18:19] paregorios commented on #20
reassigned to @cewing after splitting off the css bit into a new ticket, as discussed in today's standup.

[2015-06-04 18:20] paregorios opened #27 "individual news item view is wrong item"
as discussed in standup today, we're not seeing what the story and comps would expect us to see (e.g., byline, lead item, etc are missing).

[2015-06-04 18:21] paregorios opened #28 "fix news listing dates"
Can we use the default plone/portlet awesome magic? Right now we're seeing European-style short dates on the tiled news listing.

[2015-06-04 18:21] paregorios opened #29 "test overall theme goodness on other devices"
android? ipad?

[2015-06-04 18:46] cewing commented on #27
I've fixed the problem with the lead image not appearing.  There was a block for content-type portlets set at the root of the news folder.  Removing that allows the image portlet I'd assigned to news items to appear.

@paregorios I have questions for you:
1.  The byline that appears, should this just be the normal content byline?  Should it appear on all content types?  Or should I have created a

[2015-06-04 18:52] kevintbrooks commented on #25
Looks like normal IE behavior, unfortunately. DirectWrite tends to be a little heavier on Windows than Chrome (which still uses ClearType). Hoefler & Co, who serves Gotham, actually serves custom font files for different browser/engine combinations.

Marking this as closed, but if you see anything really off, let me know.

[2015-06-04 18:52] #25 closed, assigned to kevintbrooks

[2015-06-04 18:57] skleinfeldt commented on #27
@paregorios I discussed 3.) with @cewing and we agree that next/previous nav is a bad idea here since it does not come native with collections (as opposed to folders) and would be extra work. If this is desired, please write a separate "deferred" ticket or story to consider adding the feature in the future.

Regarding 1.) I don't see bylines on the event item comp (http://isaw.icscreative.com/even

[2015-06-04 19:04] kevintbrooks commented on #26
What about a simple placeholder like this?

![placeholder](https://cloud.githubusercontent.com/assets/1392386/7992116/f865f2a2-0aca-11e5-9378-a2a9cabb3702.png)

[2015-06-04 19:07] kevintbrooks commented on #27
Is there a reason Plone is using divs for body output instead of <p> tags?

http://isaw4-dev.atlantides.org/news/vrs-research-spotlight-maria-doerfler

[2015-06-04 19:19] kevintbrooks commented on #23
1) There really isn't a good way to tell where the "fold" is on a screen. To illustrate, take a look at 1366 wide on my screen. We could lock the height of the slide at certain widths to keep the text at a certain vertical point, but it would crop the slide image. Thoughts?
![screen shot 2015-06-04 at 3 13 37 pm](https://cloud.githubusercontent.com/assets/1392386/7992277/4b9ff480-0acc-11e5-97f0-44

[2015-06-04 19:21] kevintbrooks commented on #21
Done!

[2015-06-04 19:21] #21 closed, assigned to kevintbrooks

[2015-06-04 19:27] kevintbrooks commented on #18
FYI this is iPhone only. iPad looks great. Investigating further...

[2015-06-04 19:29] paregorios commented on #26
Yes, let's use that for now.

[2015-06-04 19:36] kevintbrooks commented on #18
Should have a fix in place here. Let's test after next deploy.

[2015-06-04 19:39] paregorios commented on #27
I'll try to answer all the questions in the above thread in order:
1. bylines
   1. I would be happy to see the byline + date that's currently appearing on each tile in the news item listing view be used site-wide (i.e., wherever we want a byline).
   2. @skleinfeldt is correct that bylines should not appear on event items nor in the event listing
2. fancy first paragraph: I think this is a questi

[2015-06-04 19:40] kevintbrooks opened #30 "News Item Paging Grid Error"
The `<div data-nextpage="3" style="display:none;"></div>` element is causing issues with the grid when new pages are loaded via ajax.

[2015-06-04 19:41] cewing commented on #27
I will make a new issue for q1 above.  It would be easier, given a custom view, to suppress the byline on events and event listings than to special-case it everywhere else.  We should override the byline viewlet template and then include it in the site theme.

[2015-06-04 19:41] alecpm commented on #27
2) Is quite easy to do as long as people are comfortable using the style dropdown.  Essentially the would be "Normal Paragraph" and "Highlighted Paragraph" or something like that.

[2015-06-04 19:41] kevintbrooks commented on #17
Can you send along a screen shot. Jagged as it is, the grid itself looks to be in working order.

[2015-06-04 19:44] kevintbrooks commented on #27
I've added a CSS class ("intro") to trigger this behavior.

[2015-06-04 19:45] alecpm commented on #27
"Intro Paragraph" it is then.

[2015-06-04 19:49] paregorios commented on #27
awesome!

[2015-06-04 20:17] cewing commented on #17
@kevintbrooks I'm pretty sure the issue is actually the issue you've identified in #30

If my work there fixes the problem, we can close this.

[2015-06-04 20:20] paregorios opened #31 "footer scroll behavior for logged-in users"
Once you're logged in and all those extra portal actions get festooned into the list in the bottom right portion of the footer, the footer gets bigger than its box and you Have. To. Scroll. Any chance we can do something more elegant and especially less frustrating for the user?

[2015-06-04 20:27] paregorios opened #32 ""skip to navigation" link has no valid target"
in the home page document we find:

 `<a accesskey="6" href="http://isaw4-dev.atlantides.org/#portal-globalnav">Skip to navigation</a>`

but there is no element in the page with `id="portal-globalnav"`.

This breaks function for users of text-only browsers (i.e., those with Braille displays) and voice browsing.

A similar problem occurs on all other pages.

[2015-06-04 20:38] paregorios opened #33 "maddening amounts of internal whitespace at bottom of rich text boxes in edit view"
We've been living with this for a long time on production; I was hoping it would magically go away with upgrade and new theme, but it's still very much with us. Wouldn't be so bad if the body richtext box were the last field on the edit form (it's not always), and if the save button was at the top of the form instead of the bottom. As it is, you sometimes have a marathon scroll.

Behold:

![death-

[2015-06-04 20:58] cewing commented on #33
it is absurdly awesome.

[2015-06-04 21:03] cewing opened #34 "Override byline and make visible on content items."
Should appear on all non-container items?

[2015-06-04 21:04] cewing commented on #34
Overriding the date format is finished, upgrade step 13 for isaw.policy.

[2015-06-04 21:43] cewing commented on #34
Fixed.  We have a customized version of the byline viewlet that will appear on all text-based content types.  (this prevents it from appearing on folders and collections, where it's not likely to be of any use).

[2015-06-04 21:44] cewing commented on #34
When deployed, this is ready for your review, @paregorios, so I'm assigning to you.

[2015-06-04 21:45] cewing commented on #28
Fixed.  Assigning to @paregorios for review once it is deployed.

[2015-06-04 22:21] cewing commented on #30
Fixed, ready for review in next release.

@paregorios, please confirm that after this work is deployed the news listing grid works as expected (in terms of layout) and then you can close this and #17

[2015-06-04 23:08] skleinfeldt commented on #32
This is probably in @alecpm 's court.

[2015-06-04 23:13] skleinfeldt commented on #33
It's so absurdly maddeningly awesomely awful I don't know who to assign this to.

[2015-06-05 00:10] alecpm commented on #32
Do we want to keep the skip links and update them or eliminate them?  In this case the navigation is at the top of the page, so it's perhaps not so useful (though maybe in a text browser it is).

[2015-06-05 03:56] paregorios commented on #32
I'm happy to get rid of "skip to navigation" in our case because it is at the top. But "skip to content" (which I think does work) should be kept.

[2015-06-05 15:27] alecpm commented on #13
The rules and actions are in place for search.

[2015-06-05 18:43] paregorios opened #35 "template boilerplate leaking into bylines"
as discussed in today's standup

[2015-06-05 18:44] paregorios commented on #30
Beautiful!

[2015-06-05 18:44] #30 closed, assigned to paregorios

[2015-06-05 18:45] paregorios commented on #28
Dates are comprehensible to parochial americans.

[2015-06-05 18:45] #28 closed, assigned to paregorios

[2015-06-05 18:47] cewing commented on #35
Fixed and deployed. Back to you, @paregorios

[2015-06-05 18:56] paregorios commented on #35
thank you!

[2015-06-05 18:56] #35 closed, assigned to paregorios

[2015-06-06 02:31] cewing opened #36 "Fix spacing on listing items in People Listing view"
The details of each person's listing in a list of people are a bit wonky.  They do not match the comps.  Please fix.

[2015-06-07 00:37] cguardia commented on #19
The portal calendar tool in the ZMI has a configuration option for setting types that should appear on the calendar. It had almost all types selected, including File, Image and others that of course don't have start and end dates. The ftw calendar code errors out in those cases, so it never showed anything.

Edited type list to use only Events.

[2015-06-07 00:38] cguardia commented on #9
I believe this only needs styling.

[2015-06-07 02:42] cguardia commented on #24
Removed the isaw.events product from the buildout. The migration had been done, but the old types still were available because they were installed.

[2015-06-08 14:46] kevintbrooks commented on #18
Looks good on my end. @paregorios can you confirm this is fixed?

[2015-06-08 14:54] paregorios commented on #18
Confirm. Closing.

[2015-06-08 14:54] #18 closed, assigned to kevintbrooks

[2015-06-08 15:50] kevintbrooks commented on #36
CSS has been updated. Can you be sure the Faculty Position data lives in p.facultyPosition (looks like the <p> is closed early).

[2015-06-08 15:58] kevintbrooks commented on #27
@paregorios is this ready to close?

[2015-06-08 15:59] kevintbrooks commented on #31
Updated CSS.

[2015-06-08 16:06] kevintbrooks commented on #26
@skleinfeldt could you assign this to the appropriate party for implementation?

[2015-06-08 16:07] kevintbrooks commented on #17
Looks good!

[2015-06-08 16:07] #17 closed, assigned to kevintbrooks

[2015-06-08 16:42] kevintbrooks commented on #9
Thanks @cguardia . It looks like the minicalendar has disappeared from the event listings page?

Any chance we could get some actual event data in here, as well?

[2015-06-08 17:04] cguardia commented on #9
@paregorios maybe you can add a few test events?

@kevintbrooks the calendar portlet presents a bit of a challenge, since it only goes on the folder, not on the events. I can probably set up a theme rule to remove it from event pages. I have added it for the time being, so disregard when you see it on the individual event pages. It will be gone later.

[2015-06-08 21:52] skleinfeldt commented on #31
Assigned to @paregorios to review and close (just want to make sure he approves the change.)

[2015-06-08 21:52] skleinfeldt commented on #26
Assigning to @alecpm

[2015-06-08 21:53] skleinfeldt commented on #36
Reassigning to @alecpm who is doing the bug fixing this week.

[2015-06-08 21:54] skleinfeldt commented on #20
Re-re-assigning to @alecpm who is doing the tickets this week.

[2015-06-09 10:15] paregorios opened #37 "events without speakers throw error on base view"
Our migrated events do not have content in the "speaker" field (this has been migrated into the description). Base view consequently throws the following error for any such event (e.g., /events/i-write-therefore-i-am-scribes-literacy-and-identity-in-early-china/):

[code]

[2015-06-09 10:20] paregorios opened #38 "editing an existing event throws a zope.tal.htmltalparser.NestingError"
I edited /events/metal-salt-and-horse-skulls-elite-level-exchange-and-movement-in-prehistoric-southwest-china by removing speaker and affiliation information from `description`` and putting them in their respective fields and by making a change in`body``` (using the wysiwyg editor). On save, I was gifted with:

[code]

[2015-06-09 17:13] alecpm commented on #37
This should be fixed.

[2015-06-09 17:14] alecpm commented on #38
This should be fixed (@cguardia fixed it but the old template was still being used by one of the three instances, which presumably hadn't been restarted)

[2015-06-09 17:53] #38 closed, assigned to paregorios

[2015-06-09 17:56] paregorios commented on #36
I'm not clear on what in particular the problem is here. @kevintbrooks can you advise so I can decide whether this is a "must fix" before deployment?

[2015-06-09 18:00] paregorios opened #39 "minicalendar portlet appears alongside individual events"
It should appear alongside event listing, but not on individual events. Discussed with CdlG Friday.

[2015-06-09 18:06] paregorios opened #40 "rsvp functionality on events is not implemented properly"
Three aspects to this problem:
1. The "register now" buttonish thing in the right-hand portlet should only appear when the "rsvp required" field on the individual event is True. Right now it appears always.
2. The text for the "register now" button should read "RSVP required".
3. The register now button should be a hyperlink to /rsvp.

I've marked this as a "bug" and put it in pre-deploy because r

[2015-06-09 18:07] paregorios opened #41 "events time representation"
Time on individual event views and in the event listing is now showing a 24-hour clock. It should be 12 hour + am/pm.

[2015-06-09 18:09] paregorios commented on #34
This is complete. Will open new issue for suppression of byline display on select content items.

[2015-06-09 18:09] #34 closed, assigned to paregorios

[2015-06-09 18:12] paregorios opened #42 "suppress byline display on everything except news items"

[2015-06-09 18:13] paregorios commented on #32
as much as it pains me to defer an accessibility issue, I'm putting this on the backlog

[2015-06-09 18:15] paregorios commented on #31
This does not appear to me to be fixed. I still have to scroll in the footer when I am logged in. Reassigning to @kevintbrooks .

[2015-06-09 18:15] k2soule opened #43 "links under mini calendar not functioning"
The <MAY and JUL> links under the mini calendar, in the listing view of Events, are not working.

[2015-06-09 18:15] #29 closed, assigned to paregorios

[2015-06-09 18:18] paregorios commented on #27
I do not see "Intro Paragraph" in the editor "Style" menu. Reassigning to @alecpm but putting on the backlog for now as it's more of a nice-to-have than a must-have for deployment.

[2015-06-09 18:20] #24 closed, assigned to paregorios

[2015-06-09 18:21] paregorios commented on #23
I'm going to close this ticket. But I'm still not happy with the behavior of overlay text on wide browsers, so will be opening a new ticket for that issue alone.

[2015-06-09 18:21] #23 closed, assigned to kevintbrooks

[2015-06-09 18:30] paregorios opened #44 "home page overlay text disappears on wide browsers"
When the ratio of browser height to width results in a more-or-less portrait layout, the top of the footer appears "above the fold", with the result that overlay text does too; however, when we have a rather wider browser window, this makes the height correspondingly longer and the footer along with some or all of the overlay text disappears below the fold. The footer is ok, but the loss of all th

[2015-06-09 18:32] kevintbrooks commented on #36
This looks like a pretty simple fix in the template - the facultyPosition classed tag isn't actually holding the data it's meant to. For example:

`<p class="facultyPosition"></p><p>Assistant Professor of Western Asian Archaeology and History</p>`

[2015-06-09 18:37] paregorios commented on #19
Will this ZMI type setting persist into production (i.e., has it been addressed in buildout or policy product or whatever) or is it just something that gets set in the database and therefore will need to be manually adjusted again when we deploy?

[2015-06-09 18:42] paregorios commented on #8
Right, so the remaining issue here is truncation in breadcrumbs and <br/> insertion (or similar) in headings?

[2015-06-09 18:43] paregorios commented on #8
Put this on the backlog because it's not job one at the moment.

[2015-06-09 18:45] paregorios commented on #20
We might need a brief confer on this one @alecpm @kevintbrooks @skleinfeldt in order to determine whether there's a css thing that can/should be done or whether this requires more templatey/pythonical intervention. Assigning to "pre-deploy" for the purposes of that discussion, after which we'll determine whether to implement now or later (though I feel like something needs to be done in advance, a

[2015-06-09 18:46] paregorios commented on #5
I need to determine whether there's anything that needs immediately to be done about this.

[2015-06-09 18:51] kevintbrooks commented on #31
Looks like this is waiting on a deployment.

[2015-06-09 18:52] paregorios opened #45 "internal pages: align visible top of heading with nav"
Right now there's a large visible difference in the top location of the ul.navTree and the h1.documentFirstHeading. Ideally, these would be visibly top-aligned.

[2015-06-09 18:53] paregorios commented on #36
moving this to pre-deploy milestone

[2015-06-09 19:43] k2soule opened #46 "calendar buttons and grid need tweaks"
In calendar view, the Month and Week buttons look unfinished (missing a side border), and the calendar grid is misaligned in Week view.

[2015-06-09 19:48] skleinfeldt opened #47 "Implement Scrumdo Story 38"
Theme profile item: https://www.scrumdo.com/projects/project/isaw/iteration/128081# (see attachment for comp)

[2015-06-09 21:03] paregorios opened #48 "images in People Listing display view are busted"
Voi la:

![busted-people](https://cloud.githubusercontent.com/assets/263285/8069568/00032a58-0ec1-11e5-8fec-c0353a4fb9c5.jpg)

[2015-06-09 21:16] k2soule commented on #47
examples of profiles with lots of fields filled out:
http://isaw4-dev.atlantides.org/people/faculty/roger-bagnall
http://isaw4-dev.atlantides.org/people/faculty/sebastian-heath

example of a profile with minimal fields filled out:
http://isaw4-dev.atlantides.org/people/staff/desiree-carrasquillo

[2015-06-09 21:32] paregorios opened #49 "css tweak: make event details same width as calendar portlet on individual event items"

[2015-06-10 03:20] paregorios opened #50 "byline appears on homepage"
I think it's covered up when viewing in a wide browser, but when you get narrow enough to trigger menu collapse and so forth for mobile/tablet, you can see it. I assume (hope?) that this will get magically fixed when #42 is resolved.

![byline-home-narrow](https://cloud.githubusercontent.com/assets/263285/8074288/a59f921a-0ef5-11e5-8d4d-86f4a32b130e.jpg)

[2015-06-10 06:20] alecpm commented on #42
This should be fixed.  Currently bylines are shown only on News Items unless the user has permission to edit the content being viewed (in which case the byline is shown in order to provide the "History" feature).  I can easily disable that exception if desired though.

[2015-06-10 06:20] alecpm commented on #48
This is fixed:

http://isaw4-dev.atlantides.org/people/faculty

[2015-06-10 06:20] alecpm commented on #49
This is fixed:

http://isaw4-dev.atlantides.org/events/metal-salt-and-horse-skulls-elite-level-exchange-and-movement-in-prehistoric-southwest-china

[2015-06-10 06:22] alecpm commented on #47
This is implemented (along with a little bit of styling to sort of match the comps):

http://isaw4-dev.atlantides.org/people/faculty/roger-bagnall

Assigning to @kevintbrooks  for any refinements needed.

[2015-06-10 06:22] alecpm commented on #41
The time format (and long date format) should now be fixed globally.

[2015-06-10 09:49] paregorios commented on #42
This is great!

[2015-06-10 09:51] paregorios commented on #48
thanks

[2015-06-10 09:51] #48 closed, assigned to paregorios

[2015-06-10 09:51] paregorios commented on #49
yes, thanks

[2015-06-10 09:51] #49 closed, assigned to paregorios

[2015-06-10 09:59] paregorios opened #51 "profiles without a contained CV throw an AttributeError"
Trying to access `context/cv` at https://github.com/isawnyu/isaw.facultycv/blob/master/isaw/facultycv/browser/templates/faculty_detail.pt#L42 . Example profile: /people/faculty/alexander-jones

Traceback:

[code]

[2015-06-10 10:00] paregorios commented on #41
confirmed

[2015-06-10 10:00] #41 closed, assigned to paregorios

[2015-06-10 10:50] paregorios opened #52 "featured/pinned news item needs clickable heading"
In the tiled view on the news blog page, each article tile is linked twice to its underlying content item: once from its heading and once from the "read more" button. But the featured item that's pinned at the top of the view is only linked from the "read more" button. Please add a link from the article heading as well.

[2015-06-10 11:24] paregorios opened #53 "align top of first right-hand portlet item with nav portlet and heading tops"
For current behavior, which is to appear high relative to a horizontal line across the tops of the other two, can be seen on (e.g.) `/library` and `/about`

[2015-06-10 11:59] skleinfeldt opened #54 "Style event listing"
Scrumdo story 41. @kevintbrooks  please open additional tickets if anything is missing from Plone.

[2015-06-10 12:01] skleinfeldt commented on #50
@paregorios did #42 resolve this?

[2015-06-10 13:07] kevintbrooks commented on #53
Should be fixed now - assigning to @paregorios for review post-deployment

[2015-06-10 13:13] kevintbrooks commented on #47
Made a few updates here - assigning to @paregorios for review.

[2015-06-10 13:16] paregorios commented on #50
Yes! Closing.

[2015-06-10 13:16] #50 closed, assigned to nobody

[2015-06-10 13:34] paregorios commented on #42
Reopening: we're still seeing byline on the featured/pinned item on the events listing:

![byline-events](https://cloud.githubusercontent.com/assets/263285/8083622/8720d064-0f4b-11e5-8681-b9a0031dd7bc.jpg)

[2015-06-10 13:38] paregorios opened #55 "descriptions should not appear on individual event views"
They were to be hidden, along with descriptions elsewhere, per scrumdo story number 69.

[2015-06-10 13:40] paregorios opened #56 "subtitles fail to appear on individual event items"
There seems to have been confusion in coding between event:description, which should not appear (see #55), and event:subtitle, which should appear.

[2015-06-10 13:41] paregorios commented on #55
There seems to have been confusion in coding between event:description, which should not appear, and event:subtitle (see #56), which should appear.

[2015-06-10 13:47] paregorios opened #57 "RSVP indications not appearing in events listing view"
The comps (see attachment to scrumdo story 41) show an "RSVP" box on individual event summaries appearing in the events listing view. These are meant to appear conditionally: show box when the corresponding event:rsvp field is True; don't show box when it is false. Right now per @kevintbrooks there is no HTML appearing at all in the event listing.

[2015-06-10 13:48] paregorios commented on #57
This is not the same as #40, but is related in that it depends on the same boolean value in the event content type.

[2015-06-10 13:48] paregorios commented on #40
This is not the same as #57, but is related in that it depends on the same boolean value in the event content type.

[2015-06-10 13:48] kevintbrooks commented on #54
Updates made, assigning to @paregorios for review.

[2015-06-10 13:50] kevintbrooks opened #58 "Add Class to Listing / Calendar view links"
On event listing view, the "Calendar View" link needs a class (calendar-view?) and to be placed below the mini calendar in the right column.

On full calendar view, the "Listing View" link needs a class (listing-view?)

[2015-06-10 14:02] skleinfeldt commented on #42
Guessing that is a special part of the view that needs adjusting - sorry we missed that... Back to you @alecpm

[2015-06-10 15:29] alecpm commented on #42
Yes, this is annually coded into the events listing. I can remove it from the template.

[2015-06-10 16:08] paregorios commented on #42
Please do rip it out, thanks.

[2015-06-10 17:32] alecpm commented on #51
This is an easy fix, but I'm confused how this situation would arise.  When I add a new profile it seems to always get a CV attached.  Are these older profiles from before this feature was introduced, or profiles where the CV has been deleted?

[2015-06-10 17:38] paregorios commented on #51
I think this is a case of deletion.

[2015-06-10 17:39] paregorios commented on #51
The individual didn't want to fill out the CV form, and didn't want people following a link to an empty one, apparently.

[2015-06-10 19:22] alecpm commented on #51
This should be fixed.

[2015-06-11 16:01] paregorios opened #59 "tiled view throws error if no byline available"
Some piece of content on staging inside /library/blog/ has no byline (possibly the collection that is probably set at the default view?). This causes the tiled view template to throw an error:

[code]

[2015-06-11 21:38] paregorios commented on #51
Spiffamundo!!

[2015-06-11 21:38] #51 closed, assigned to paregorios

[2015-06-11 22:37] alecpm commented on #42
This should be fixed.

[2015-06-11 22:38] alecpm commented on #52
This should be fixed.

[2015-06-11 22:38] alecpm commented on #59
Items with no effective date were failing.  This should be fixed.

[2015-06-18 14:37] paregorios opened #60 "links for lead images on news items 404"
Click on the lead image in a news item. Bummage ensues. E.g. /library/blog/FCLSC-ISAW

[2015-06-18 14:47] paregorios opened #61 "adding an image sometimes borks associated paragraph formatting"
but the borkage is only visible in base view, not in the editor text box. Need to grab some examples.

[2015-07-06 17:08] paregorios opened #62 "need repeatable method to change CSS registry on staging"
In order to demonstrate to stakeholders font alternatives, I need a more-or-less on-demand way to make changes to the CSS registry configuration in an iterative fashion until we settle on a font combination. I understand from email that such changes should be done "preferably with an upgrade step". I need guidance on how to do this.

[2015-07-06 17:08] #59 closed, assigned to paregorios

[2015-07-06 17:09] #53 closed, assigned to paregorios

[2015-07-06 17:10] #52 closed, assigned to paregorios

[2015-07-06 17:11] #42 closed, assigned to paregorios

[2015-07-06 17:12] #37 closed, assigned to paregorios

[2015-07-06 17:13] #13 closed, assigned to kevintbrooks

[2015-07-06 17:34] #47 closed, assigned to paregorios

[2015-07-06 17:34] #54 closed, assigned to paregorios

[2015-07-06 17:39] #45 closed, assigned to kevintbrooks

[2015-07-06 17:39] #31 closed, assigned to kevintbrooks

[2015-07-06 17:42] #20 closed, assigned to alecpm

[2015-07-06 18:54] alecpm commented on #62
The specific issue here is that your change (46d0441d7cb2fb7260c1cfa6051c800fea451368) removed fonts.css from the theme, but that file was also being included in the Resource Registry: https://isaw4-dev.atlantides.org/portal_css/manage_cssForm

I've disabled that file there now, and it is no longer in the profile (it's a bit of a mystery to me why it was still enabled in the registry, given that i

[2015-07-08 06:30] cguardia commented on #60
Fixed, but not deployed.

[2015-07-08 07:17] cguardia commented on #58
Added classes "calendar-view-link" and "listing-view-link" to the link containers (divs).

[2015-07-08 07:37] cguardia commented on #19
Added an upgrade step to take care of this automatically.

[2015-07-08 08:33] cguardia commented on #43
Fixed.

[2015-07-08 08:49] cguardia commented on #40
Fixed.

[2015-07-08 11:06] paregorios opened #63 "css: address margin/padding for missing images in people pages"

[2015-07-08 14:24] alecpm commented on #55
This should be fixed on staging.

[2015-07-08 14:24] alecpm commented on #56
This should be fixed on staging.

[2015-07-08 14:25] alecpm commented on #36
This should be fixed on staging.

[2015-07-08 14:25] alecpm commented on #26
This should be fixed on staging.

[2015-07-08 14:25] alecpm commented on #57
This should be fixed on staging.

[2015-07-08 14:29] paregorios opened #64 "indexerror: leapback on collection creation (staging)"
[code]

[2015-07-08 15:07] paregorios commented on #64
problem actually seems to be not on create but on base view

[2015-07-08 15:09] paregorios commented on #64
this is occuring with "new style" collections

[2015-07-08 15:12] alecpm commented on #64
What's the URL where you're seeing this error?

[2015-07-08 15:18] paregorios commented on #64
it’s in the traceback, but here it is separately:

/members/paregorios/foobar-folder/chickens

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Scholar
Institute for the Study of the Ancient World (NYU)
http://isaw.nyu.edu/people/staff/tom-elliott

On Jul 8, 2015, at 10:12 AM, Alec Mitchell notifications@github.com wrote:

[2015-07-08 16:46] alecpm commented on #64
This is fixed now.  There was an obsolete customized batch_macros template in the theme that has been removed.

[2015-07-08 17:16] #64 closed, assigned to paregorios

[2015-07-08 17:16] #62 closed, assigned to paregorios

[2015-07-08 17:17] #60 closed, assigned to cguardia

[2015-07-08 17:19] #58 closed, assigned to cguardia

[2015-07-08 17:20] paregorios opened #65 "css: add styling for calendar view and listing view links in events listing"

[2015-07-08 17:23] #40 closed, assigned to cguardia

[2015-07-08 17:24] paregorios commented on #57
I'm not seeing RSVP-related HTML in source or visual in the events listing for the one event that has RSVP=yes. What am I missing?
![rsvpwha](https://cloud.githubusercontent.com/assets/263285/8577138/4e4726e4-256c-11e5-9082-9fd140a2b555.jpg)

[2015-07-08 17:25] #56 closed, assigned to paregorios

[2015-07-08 17:26] #55 closed, assigned to paregorios

[2015-07-08 17:26] #43 closed, assigned to cguardia

[2015-07-08 17:27] #26 closed, assigned to paregorios

[2015-07-08 17:27] #19 closed, assigned to cguardia

[2015-07-08 17:28] #9 closed, assigned to paregorios

[2015-07-08 18:13] alecpm commented on #57
Looking into this, it's super confusing since it's working perfectly on my dev machine.  I suspect there may be a ZODB customization lurking somewhere.

[2015-07-09 00:54] alecpm commented on #57
This is fixed now.

[2015-07-09 10:29] #57 closed, assigned to paregorios

[2015-07-09 20:00] #44 closed, assigned to nobody

[2015-07-09 20:01] #39 closed, assigned to alecpm

[2015-07-09 20:24] paregorios commented on #22
plain fade is fine

[2015-07-09 20:24] #22 closed, assigned to alecpm

[2015-07-09 20:25] #2 closed, assigned to paregorios

[2015-07-09 20:28] paregorios commented on #33
this may be a chrome bug

[2015-07-30 20:13] k2soule opened #66 "error on pages requiring authentication"
Users who attempt to follow a link to a page that requires authentication, if they are not logged in, should be directed to a page that informs them that the content they are trying to reach requires login (and present a login button). Instead, they see the following error:
<img width="1253" alt="screen shot 2015-07-30 at 10 59 04 am" src="https://cloud.githubusercontent.com/assets/7882896/8993882

[2015-08-03 17:06] k2soule opened #67 "implementing story #98 "space aliens""
We need to work on the placement of this emergency message banner in the header on the home page

[2015-08-03 17:07] skleinfeldt opened #68 "New Snapshot"
Copy over a new prod snapshot to staging and run all upgrade steps

[2015-08-03 19:23] paregorios opened #69 "site id string is hard-wired instead of supplied from the plone"
There's a site ID string appearing in the text node of the `<h1>` on the home page that does not match the site ID string assigned through the control panel settings ("Institute for the Study of the Ancient World"). Instead, it matches a string found in the comps, and it's wrong ("Institute for the Study of the Ancient World at NYU").

It's not currently visible because of CSS fanciness, but I'd l

[2015-08-03 19:34] skleinfeldt commented on #69
From Alec on Skype: It's part of the theme templates: https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/static/index.html https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/static/home.html

[2015-08-03 19:36] skleinfeldt commented on #69
And: Making it dynamic would mean updating the rules.xml to replace the text from the theme with the text from the headers here: https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/static/rules.xml#L61

[2015-08-03 21:33] paregorios opened #70 "need to get rid of "apply to isaw" link in footer"
Seems like we discussed this, but can't remember how.

[2015-08-03 21:33] paregorios opened #71 ""careers at isaw" in footer needs to be changed"
"jobs at isaw" and should point to /jobs not /careers

[2015-08-03 21:43] paregorios opened #72 "how can we suppress minicalendar portlet on all event items?"
It's interfering with the event information

[2015-08-03 21:50] k2soule commented on #67
From closer inspection, it appears that the emergency message element is being generated underneath the header bars on the home page (an invisible layer), rather than pushing the page header and contents down from above. On all other pages we've checked, it behaves as intended. We'll need some assistance tweaking the home page to make the "aliens/bigfoot" message bar appear at the top.

[2015-08-03 21:51] paregorios opened #73 "changes to order of divs in event view"
Please adjust template for event base view so that `<div class="bio">` is immediately after `<div class="documentDescription">` instead of being the last child of `<div id="content">` as now.

Please retain the class attribute with value "bio" as now.

[2015-08-04 04:19] alecpm commented on #66
This should be fixed now on isaw4-dev, but I think I'm seeing the same issue on production.  The login_form from the WebserverAuth addon expects the login url to contain "login_form" but on these permission redirects it uses "require_login" instead.

[2015-08-04 04:32] alecpm commented on #69
This is fixed in the theme.

[2015-08-04 09:03] cguardia commented on #68
I copied the snapshots and ran the upgrade steps. I had some problems getting the site to display, but it's there now. It looks like we will have some work to do to get it looking like before.

[2015-08-04 15:08] paregorios commented on #68
My first impression is that stuff we agreed I’d set up through the ZMI and that then would get replicated in code either didn’t get done or the associated upgrade steps didn’t get run. But that’s just a guess. Anyway, we’ll probably need to attempt to fix then try to do the switchover dry run again from scratch.

Tom Elliott, Ph.D.
Associate Director for Digital Programs and Senior Research Schola

[2015-08-04 15:09] paregorios commented on #69
Thanks. Looks good to me.

[2015-08-04 15:09] #69 closed, assigned to paregorios

[2015-08-04 15:11] paregorios commented on #66
The same issue does indeed occur on production, where we’d been ignoring it since we assumed it would get fixed as part of the upgrade. But somehow it slipped through the cracks.

Is this a fix in code (i.e., it will always be fixed wherever buildout:master gets deployed and run, or do we need to intervene on production so that associated database changes get made?

We can live with it on producti

[2015-08-04 15:14] skleinfeldt commented on #68
Yes, documenting what we do like crazy....

[2015-08-04 15:15] k2soule commented on #66
Thanks, Alex!
Can you remove the redundancy? The "Please log in here" message is just fine, but it currently appears twice.

[2015-08-04 15:23] alecpm commented on #66
It's fixed in the repo, so it should apply automatically on production once we've upgraded.  It's essentially due to a minor incompatibility between Products.WebServerAuth and the latest Plone.

[2015-08-04 16:12] alecpm commented on #66
The duplicate link was yet another, minor, WebserverAuth incompatibility with the Plone 4.3 theme.  Should be fixed now.

[2015-08-04 16:17] k2soule commented on #66
Thanks!

[2015-08-04 17:23] skleinfeldt commented on #46
@k2soule should this ticket be in the pre-deployment milestone?

If not (if it is to be fixed post-deployment), can you make a copy in the isaw.web repo and close this one "wontfix"?

[2015-08-04 17:29] skleinfeldt opened #74 "Fix snapshot and document"
The snapshot made on 8/3 had some problems when the new theme was applied. Fix the problems and document all the steps in isaw.web/THEME-UPGRADE.txt (currently has an obscure name, PROD_SNAPSHOT.txt.)

Anything that can be automated via an upgrade step should be.

[2015-08-04 17:30] skleinfeldt opened #75 "Second Snapshot"
When ticket #74 is done, repeat the process with another snapshot to make sure we have a repeatable process.

[2015-08-04 17:33] skleinfeldt commented on #68
Ticket #74 opened for fixing and documenting, @paregorios can we close this one?

Also if you have a list of the steps you set up in the ZMI and were expecting to be implemented in code, please add them to #74.

[2015-08-04 19:05] k2soule commented on #46
I think this may be fixed, but I can't tell at the moment (can't see events). I'll make a copy in iaw.web, to remind myself to check.

[2015-08-04 19:10] k2soule commented on #46
Re-created as isaw.web issue #37. Closing this version as "wontfix".

[2015-08-04 19:11] #46 closed, assigned to k2soule

[2015-08-04 19:28] k2soule commented on #68
Assigning to Tom. Looks like this issue can be closed, but the process will be detailed and repeated in #74.

[2015-08-04 19:32] k2soule commented on #67
Copied into isaw.web as issue #38. Since this is not necessary for part of pre-deployment, I'm closing this version of the issue as "wontfix".

[2015-08-04 19:33] #67 closed, assigned to k2soule

[2015-08-04 19:41] k2soule commented on #5
This issue looks like one that we could potentially move out of pre-deployment.

[2015-08-04 21:00] paregorios opened #76 "AttributeError: adapters when running isaw.policy after creating new site on clean buildout"
After running clean buildout (see further below), checked http://127.0.0.1:8081/ and followed prompts to create a new site. After checking the check-box next to `isaw.policy` and submitting the form, the following traceback was delivered to the browser at the URL http://127.0.0.1:8081/@@plone-addsite:

[code]

Process was being run in debug mode with `bin/client1 fg`. The following tracebacks were

[2015-08-04 21:05] paregorios commented on #76
On second thought, the log is so huge I won't append it here. Let me know if a copy is needed.

[2015-08-04 21:15] alecpm commented on #76
If you could clear the log.  Start the instance fresh and then compress and email it to us that would be helpful.

[2015-08-04 22:40] paregorios commented on #76
I've just emailed console output. Are there any logs in var/log/ that you'd like to see?

[2015-08-04 22:59] alecpm commented on #76
This should be fixed now.

[2015-08-05 15:17] #68 closed, assigned to paregorios

[2015-08-05 15:19] paregorios commented on #76
Confirmed. I did a complete clean buildout and then was able to create a plone site and apply the isaw.policy product without errors. I would like to find out what the next steps are to get something that looks like what we're supposed to have for the new theme, but that's a separate task. Closing this ticket.

[2015-08-05 15:19] #76 closed, assigned to nobody

[2015-08-05 15:20] paregorios commented on #66
This seems to have regressed on staging. Try /about/employee/admin-procedures

[2015-08-05 15:24] paregorios commented on #74
I was asked to detail ZMI steps that I'd like to see replicated in code here. I can't remember precisely the discussion; I see no evidence that it was documented, and I may have dropped the ball on communicating back what was done. But the major issues were around creating the primary nav and footer links. The main nav tabs should be as follows:
- Graduate program
- Visiting Research Scholars
- Ev

[2015-08-05 15:24] paregorios commented on #74
Note that we seem to have a regression on #66 in staging.

[2015-08-05 15:25] alecpm commented on #66
I think this will be resolved once @cguardia clears out the custom templates from skins and portal_template_customizations.

[2015-08-05 15:26] paregorios commented on #74
Some other items to possibly automate:
- disable globally the legacy isaw featured portlet
- enable globally subnavigation in left portlet slot, except for the following sections:
  - /events
  - /exhibitions
  - /research

[2015-08-05 16:56] alecpm commented on #72
This is a little tricky.  Since the event view relies on the event details portlet, we can't just disable portlets or that column in the template.  We could alter the view to manually render that portlet, which would mean that no other portlets could be added to that column for individual events.  Alternatively, we could add an event handler and migration step that explicitly blocked parent portle

[2015-08-05 16:59] paregorios commented on #72
I like the last solution too. Is the right thing to do to implement that somehow in production before the switchover, or should we just put that on checklist of manual fixes?

[2015-08-05 17:28] skleinfeldt opened #77 "Bring back main navigation"
Something seemed to stomp this on local dev environments.

[2015-08-05 18:07] alecpm commented on #77
It's back, should be permanent.  Will need to rename and exclude from nav a few items.

[2015-08-05 18:11] alecpm commented on #74
All top level folders will need to be set exclude from nav, excepting for the following:
- events
- exhibitions
- visiting-scholar-program
- graduate-studies

Rename the following:
- visiting-scholar-program: visiting-scholars: Visiting Scholars
- graduate-program: graduate-studies: Graduate Studies

[2015-08-05 18:33] alecpm commented on #72
This is done on the dev server.  It can be implemented on production to ease migration, but the custom view will still need to be applied via the display menu (i.e. at least that should be put on the list of manual fixes).

[2015-08-05 19:01] paregorios commented on #77
What should I update locally on my dev to get the resulting effect?

[2015-08-05 19:03] skleinfeldt opened #78 "Update isaw.web/README.txt"
Review and fix this documentation to describe the steps (including any manual ones) needed to create a local dev environment with the new theme and all associated goodies.

[2015-08-05 19:06] skleinfeldt commented on #78
@paregorios it might be efficient for you and/or @k2soule to take a quick pass through to fix any obvious errors and note any specifics you are looking for.

[2015-08-05 19:08] paregorios commented on #78
@skleinfeldt will do

[2015-08-05 19:15] paregorios commented on #74
Until the nav is cleaned up, (extra tabs removed) I won't be able to check default view settings etc. on things because the relevant UI affordance is overlapped by the extra tabs.

[2015-08-05 21:52] paregorios commented on #78
I have made a few comments in the PROD_SNAPSHOT.txt file and pushed these. Am now blocked as follows:

Followed recipe in PROD_SNAPSHOT.txt locally.

Got to the following line, which executed (as shown) without any console errors:

[code]

Tried to browse to 127.0.0.1:8081 but got nothing but sit-and-spin. Tried to browse to localhost:8081. Same thing. No response to browser.

Executed:

[code]

T

[2015-08-05 21:57] cguardia commented on #78
Tom, if you were trying to copy over the production db, the clients can take several minutes to respond, because it takes some time for ZEO to process the new Data.fs.

[2015-08-05 22:28] cguardia commented on #78
Also, does the user that runs ZEO have read and write permission on the Data.fs file?

[2015-08-06 04:48] alecpm commented on #71
This should be fixed on dev.

[2015-08-06 04:48] alecpm commented on #70
This should be fixed on dev.

[2015-08-06 04:49] alecpm commented on #73
This should be fixed on dev.

[2015-08-06 13:48] paregorios commented on #78
I left things up and running all night, no change: sit and spin. No console error messages. Permissions checked.

[2015-08-06 13:50] paregorios commented on #74
Can we get a status update on this?

[2015-08-06 13:51] paregorios commented on #73
Confirmed.

[2015-08-06 13:51] #73 closed, assigned to paregorios

[2015-08-06 13:56] paregorios commented on #72
Question:

What are the steps we should follow to implement on production?  I assume: add an appropriate collection as child of /events and make it the display item for the container. I understand why the custom view will need to be applied after the fact.

[2015-08-06 13:56] paregorios commented on #71
Confirmed.

[2015-08-06 13:56] #71 closed, assigned to paregorios

[2015-08-06 13:57] paregorios commented on #70
Confirmed.

[2015-08-06 13:57] #70 closed, assigned to paregorios

[2015-08-06 14:11] paregorios commented on #77
Have gone through steps to rename folders and to exclude other from navigation on dev. One problem remains: two "Graduate Studies" tabs.

[2015-08-06 14:13] paregorios commented on #74
I have done the "exclude from nav" and rename steps on staging recommended by @alecpm above, which has cleared my block for testing other fixes; however, there is still one problem with the main nav tabs, and I've made a comment to that effect on #77 .

[2015-08-06 14:24] paregorios opened #79 "content actions drop-downs are z-stacked beneath the footer"
Needs CSS fix.

![zfooter](https://cloud.githubusercontent.com/assets/263285/9113963/f33c6aa8-3c1c-11e5-8075-70bc5b58a918.jpg)

[2015-08-06 14:27] paregorios commented on #66
Apparently @cguardia has not yet taken this step on staging in the course of working on #74.

Test: /members/paregorian/foo

I will hold this ticket, marked "reviewing" until #74 is complete, then revisit.

[2015-08-06 14:29] #65 closed, assigned to paregorios

[2015-08-06 14:30] alecpm commented on #77
There was a portal action for that tab, it is gone on dev and I'll ensure it's removed in an upgrade step.

[2015-08-06 14:31] paregorios commented on #77
Great, thanks.

[2015-08-06 14:31] #77 closed, assigned to alecpm

[2015-08-06 14:34] #36 closed, assigned to paregorios

[2015-08-06 14:35] paregorios commented on #63
This is still an issue (see) below, and presumably only requires a minor CSS tweak, which I'll undertake.

![peeps](https://cloud.githubusercontent.com/assets/263285/9114258/7685415e-3c1e-11e5-890b-c5fc3fef3790.jpg)

[2015-08-06 14:36] paregorios commented on #5
Agreed. Moving out of pre-deployment. CSS issue that we'll wrangle later.

[2015-08-06 14:37] alecpm commented on #77
It's in an upgrade step now.

[2015-08-06 14:37] paregorios commented on #72
In any case, let's please keep this issue open until we've figured out where we are going to document manual steps for the theme upgrade. That's on my agenda for today's standup.

[2015-08-06 14:38] paregorios opened #80 "fix horizontal alignment of breadcrumbs in new theme"
CSS tweak.

[2015-08-06 14:39] paregorios opened #81 "replace SVG title with text in header"
CSS tweak.

[2015-08-06 16:22] alecpm commented on #66
This is fixed once again.  @cguardia had removed the template customizations, but for some reason (which I'm looking into) the skin ordering fixes in the theme profile were not applied during the upgrade/migration.

[2015-08-06 17:39] skleinfeldt commented on #72
As discussed in standup, https://github.com/isawnyu/isaw.web/blob/master/PROD_SNAPSHOT.txt is the right place to document. @alecpm can you please make sure this is added to that document?

[2015-08-06 17:40] skleinfeldt commented on #75
Assigning to @alecpm to do as soon as we get the go-ahead from @paregorios or @k2soule

[2015-08-06 17:46] alecpm commented on #78
These errors indicate that your zeo server is not running (or at least not accepting connections).  I would suggest stopping supervisor (bin/supervisorctl shutdown), and then starting the zeoserver in the foreground to see what's going on (bin/zeoserver fg).  That should give you an idea of what's causing the server to not accept connections or fail in starting.  There is also a zeo log in var/log

[2015-08-06 17:56] skleinfeldt commented on #74
#77 has been closed, that problem was fixed (in code). There was a second problem that surfaced on #66, but @alecpm is fixing that now.

I wanted to capture here that left nav was missing on staging as of 1:00 ET, needs to be fixed (portal setting - disable from right, enable on left), and that step needs to be added to the doc.

[2015-08-06 18:17] alecpm commented on #72
I've documented steps for creating the collection, making it the default view and changing the portlet settings as needed.

[2015-08-06 18:42] skleinfeldt commented on #79
@paregorios needs to hand this over to you @alecpm

[2015-08-06 18:42] skleinfeldt commented on #80
@paregorios needs to hand this over to you @alecpm

[2015-08-06 18:43] skleinfeldt commented on #81
@paregorios needs to hand this over to you @alecpm

[2015-08-06 21:24] alecpm commented on #81
I'm not sure I understand what's desired here.  Is this in reference to the ISAW logo.  Currently there's text markup:

[code]

It's replaced via CSS with an SVG image background and a text-indent.  Do we want to replicate the SVG in pure html/css?

[2015-08-06 21:30] alecpm commented on #80
I going to assume you want them aligned with the site title unless I hear otherwise.  The mockups have them in an entirely different location, so I'm not quite sure.

[2015-08-06 21:31] paregorios commented on #81
Let's defer this ticket for now.

[2015-08-06 21:33] paregorios commented on #80
Yes please align with the site title.

[2015-08-06 21:53] alecpm commented on #79
Looks like this isn't really a z-index issue, but an issue with the HTML structure and positioning.  I've added a min-height to the content body (#portal-columns) for logged in users to ensure this doesn't happen.

[2015-08-06 21:53] alecpm commented on #80
Should be fixed

[2015-08-07 12:01] paregorios opened #82 "news items don't show lead image in base view"

[2015-08-07 12:01] paregorios commented on #82
on staging, view any published news item in browser

[2015-08-07 12:02] paregorios opened #83 "can't crop tiled view for news item lead images"
caching problem?

[2015-08-07 12:21] paregorios opened #84 "slider fails to display content (imagery) on home page"
On first request to page. Must refresh to get slider content. Have verified on Mac in chrome, FF, safari.

[2015-08-07 12:34] paregorios commented on #84
This is a blocker for senior staff review ahead of rollout approval.

[2015-08-07 12:34] paregorios commented on #80
confirmed.

[2015-08-07 12:34] #80 closed, assigned to paregorios

[2015-08-07 12:35] paregorios commented on #79
confirmed.

[2015-08-07 12:35] #79 closed, assigned to paregorios

[2015-08-07 12:36] paregorios commented on #72
works. thanks.

[2015-08-07 12:36] #72 closed, assigned to alecpm

[2015-08-07 12:37] paregorios commented on #66
seems to be working well now on staging. Can we close this ticket given preceding comment from @alecpm ?

[2015-08-07 14:32] alecpm commented on #84
Should be fixed now.

[2015-08-07 14:35] k2soule commented on #84
I just checked from Safari and Firefox; I agree the sliding images are back; however, I see a horizontal scroll bar at the bottom (in both browsers).

[2015-08-07 15:50] alecpm commented on #84
OK, I think I have this nailed down.  There were two causes, a race condition on the slider image loading (browsers all implement load events a little differently depending on whether images are coming out of the cache or not) and an issue for logged in users where the edit bar was stretching the body width 6px past 100%.

[2015-08-07 15:55] k2soule commented on #66
I'm getting "This page isn't redirecting properly" on dev.

[2015-08-07 15:56] paregorios commented on #66
Huh. My test this morning worked. What URL are you trying to resolve?

[2015-08-07 15:57] k2soule commented on #84
Thanks for tracking that down. The scroll bar is no longer there, from what I can see (Firefox in Win7, Firefox and Safari in MacOS).

[2015-08-07 16:00] k2soule commented on #66
/about/employee/admin-procedures (on the Win7 machine). I'll go check my Mac browsers, to see if the behavior is different.

[2015-08-07 16:04] #84 closed, assigned to paregorios

[2015-08-07 16:04] #74 closed, assigned to paregorios

[2015-08-07 16:05] #75 closed, assigned to paregorios

[2015-08-07 16:07] paregorios commented on #66
I can't reproduce that error. I happily see:

![login](https://cloud.githubusercontent.com/assets/263285/9140129/722ed080-3cf4-11e5-95f5-97e14327f4b2.jpg)

[2015-08-07 16:07] k2soule commented on #66
Hmm. Login redirect is working on my mac. I'll go kick the pc...

[2015-08-07 17:11] skleinfeldt opened #85 "Make sure auth has not changed"
Proactively look through the profile changes etc. to make sure nothing should affect SSO

[2015-08-07 17:15] skleinfeldt opened #86 "Tag production pre-upgrade"
For potential rollback purposes

[2015-08-07 17:17] skleinfeldt commented on #85
Done

[2015-08-07 17:17] #85 closed, assigned to alecpm

[2015-08-07 17:17] skleinfeldt opened #87 "Tag code going to production"
Just before we do the upgrade, so we know what we deployed.

[2015-08-07 17:24] #66 closed, assigned to paregorios

[2015-08-07 18:45] skleinfeldt opened #88 "Heading styles inconsistent on faculty page"
See http://isaw4-dev.atlantides.org/isaw/people/faculty/roger-bagnall - the A. B. C. etc headings are sometimes in gold, sometimes not. Firefox 39.

Putting in pre-deploy milestone for @paregorios to assess.

[2015-08-07 19:13] alecpm commented on #83
This is fixed!  Pull request submitted to upstream: https://github.com/collective/plone.app.imagecropping/pull/64

[2015-08-07 19:34] alecpm commented on #63
I've committed a fix; not sure it's what you want though:

http://isaw4-dev.atlantides.org/people/staff

[2015-08-07 19:38] alecpm commented on #88
A note on this one:

h2 headers are treated as section heading and given those gold bars with letter ordering, other headings are styled as on other parts of the site.

[2015-08-07 20:43] skleinfeldt commented on #88
So in other words A, B, C, D, E, F are H2, then A, B, C, D, E, F that are under F are H3, then we go back up a level to G an H2. I missed that, on scanning I just saw F and G adjacent at the bottom in different styles but same indent.

So this in not a styling bug, it is a somewhat confusing template. (I'd suggest removing the letters from those subheadings.) Moving to "backlog" milestone for @par

[2015-08-08 05:13] cguardia commented on #82
This was because the news folder had blocked content portlets. I unblocked them and it shows up. The news folder also looks fine.

[2015-08-08 05:16] cguardia commented on #82
Added this as a step to snapshot document.

[2015-08-10 16:44] paregorios commented on #63
Not ready to close this, but I don't think it needs to be addressed ahead of rollout. Punting to backlog for now.

[2015-08-10 16:45] paregorios commented on #78
Thanks. Not critical at this stage for predeployment. Punting to backlog for later reveiw.

[2015-08-10 16:47] #82 closed, assigned to cguardia

[2015-08-11 17:32] cguardia commented on #86
Done.

[2015-08-11 20:53] cguardia commented on #86
Tag is preproduction08112015

[2015-08-12 12:21] paregorios commented on #87
Is this done? Can we close?

[2015-08-12 12:22] #86 closed, assigned to cguardia

[2015-08-12 12:22] #83 closed, assigned to paregorios

[2015-08-12 20:41] paregorios opened #89 "breadcrumbs bar is too tall in collapsed/mobile view"
The bottom of the breadcrumbs bar should be even with the bottom of the ISAW logo, not thus:

![img_0582](https://cloud.githubusercontent.com/assets/263285/9236118/7a6518e6-4108-11e5-956d-a6507927f6f2.PNG)

[2015-08-12 21:48] paregorios opened #90 "fix table styling on user control panel"
The list of users is unmanageable as the super-wide table is constrained to fit in the content pane; one has to scroll and loses one's place.

[2015-08-13 18:31] cguardia commented on #87
There is already a tag production08112015 for the code as it was when we deployed. There have been a couple of fixes, though, and there might be more.

[2015-08-17 16:35] paregorios opened #91 "add NYU links in header and footer"
From @k2soule: "have the "New York University" text in the header and the NYU logo in the footer both link to the main NYU site"

[2015-08-25 19:26] paregorios opened #92 "portal-top should have relative positioning instead of absolute on home page"
elsewhere it's relative and behaves fine. Having it absolute on the home page blocks the emergency "aliens have landed" message. This issue is being transferred from https://github.com/isawnyu/isaw.web/issues/38

[2015-08-25 19:27] #92 closed, assigned to paregorios

[2015-08-25 20:29] k2soule opened #93 "home page slider images cut off at the top"
A slice of about 165 pixels is cut off from the top of each image in the home page slider. The images we're using are all 1920x1280. When authenticated, I can see part of the missing slice of image above the green editing bar, though not all of it.

I tested adding a shorter-cropped image to the slider, and it still appears to cut off the same amount from the top. Perhaps the top of the image is h

[2015-08-28 10:06] paregorios opened #94 "website title font wrapping is rotten in IE11"
![font substitution issue in ie11](https://cloud.githubusercontent.com/assets/263285/9543935/7b8675e4-4d42-11e5-8dfe-f1f42380ed75.jpg)

fyi @k2soule

[2015-08-28 16:07] k2soule commented on #94
Not just the wrapping, but the header fonts themselves are incorrect - and the ISAW logo graphic is not displaying well.

[2015-08-28 16:29] paregorios commented on #94
We may have to get rid of Questrial entirely

[2015-09-01 19:01] paregorios commented on #93
Now working on this in branch issue93

[2015-09-02 09:37] paregorios commented on #93
functionality at e7a7044

[2015-09-02 09:46] paregorios commented on #93
resolved and deployed to production

[2015-09-02 09:46] #93 closed, assigned to paregorios

[2015-09-02 14:10] paregorios commented on #89
This is in work in branch:issue89

[2015-09-04 14:19] paregorios opened #96 "caption styles don't match"
Lead image captions on news items are styled differently from inline image captions.

[2015-09-04 20:36] paregorios opened #97 "table class=invisible has gridlines"

[2015-09-15 14:35] paregorios opened #99 "full calendar for events is an unusable wreck on iphone"

[2015-09-15 18:03] k2soule opened #100 "odd layout in event pages (was isaw.web #52)"
Copying from isaw.web:

I'm discovering some problems in the layout of events (individual event display), now that we're adding new events and including images. The lead image for an event is showing up in an odd place; in the same div with the subtitle, and very small. If we include a caption, it gets even stranger. The caption takes up much more lateral room than the image, and shoves the image

[2015-09-16 18:02] k2soule opened #101 "event listing order of fields"
We need to change the order of appearance of fields in the event listing. Currently, the contents of the subtitle field is displayed below the Speaker name. It should be above the speaker, so that it appears directly below the Title field - and it should be the same color as the title field (making it a link would work).

[2015-09-16 18:21] k2soule opened #102 "event listing - calendar portlet style issue"
See attached comp; the calendar days when events occur need to be highlighted, rather than just given a bold or different-colored numeral. It's much harder to see which dates have events if they aren't highlighted.
![isaw-09-eventlander](https://cloud.githubusercontent.com/assets/7882896/9914087/2f6e344e-5c7e-11e5-83aa-68b52c85c01e.jpg)

[2015-09-16 20:23] paregorios commented on #100
Now working on this in branch:issue100

[2015-09-16 22:24] paregorios commented on #100
A fix that gets rid of the oddities (though perhaps doesn't create enough beauty) has now been deployed. Final commit on that work was 48453c6a46620a68c4fc676822d11dfe93108624. If we want a more beautiful solution in future, let's open a new ticket for it.

[2015-09-16 22:25] #100 closed, assigned to paregorios

[2015-09-16 22:25] paregorios commented on #101
now in work in branch:issue101

[2015-09-16 23:09] paregorios commented on #101
Resolved with a series of commits ending with b2a17b9e42ec87842ae565213dc1598c7199dcdc

[2015-09-16 23:09] #101 closed, assigned to paregorios

[2015-09-16 23:15] paregorios opened #103 "batch paging for events fails with a useless error message"
It looks like it was stubbed out but never finished, or there's some error condition that wasn't properly addressed:

![abomination](https://cloud.githubusercontent.com/assets/263285/9920998/ac3d0f02-5c9e-11e5-8893-4af7280c040f.png)

The relevant code appears to be in https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/browser/templates/event_listing.pt#L10

[2015-09-16 23:16] paregorios commented on #103
compare https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/browser/templates/tiled_view.pt#L10 which works for news listing

[2015-09-16 23:35] paregorios commented on #103
32f1171ca508f324e6039ee1317ade027885a305 evidently got us past one error, but now we have another:

[code]

but fixing the obvious typo there doesn't solve the problem either; that's not the name of the listing page.

[2015-09-16 23:40] paregorios commented on #103
It looks like this is what we need instead: https://github.com/isawnyu/isaw.theme/blob/master/isaw/theme/browser/configure.zcml#L129

[2015-09-17 15:03] paregorios commented on #103
Code errors fixed with a series of commits culminating in 184ef5c7adf65584c6f96cbe0d2b69ccf6e31a51.

[2015-09-17 15:03] #103 closed, assigned to paregorios

[2015-09-17 15:16] paregorios opened #104 "google analytics is horked"
Evidently stopped working on 2 september.

[2015-09-18 19:12] k2soule commented on #33
not just chrome; I have observed this in Safari and Firefox as well

[2015-09-23 18:38] k2soule commented on #33
Also, as Roger pointed out today, there is the problem of the editing window being located incorrectly in the browser window; such that the right side of the content is off-screen, and one has to scroll to the bottom of the page to get another scroll bar to move the editing window into view... Is this related? Or should it be a separate ticket?

[2015-09-23 18:43] paregorios commented on #33
I think it warrants a separate ticket, but with a cross reference link.

[2015-09-23 19:02] paregorios opened #105 "no whitespace between end of unordered list and subsequent paragraph"
needs CSS fix:

![nowhitespace](https://cloud.githubusercontent.com/assets/263285/10055402/b0e32552-61fb-11e5-960d-c8274415d1ba.jpg)

[2015-09-23 19:18] paregorios opened #106 "too much all caps in profiles"
![allcaps](https://cloud.githubusercontent.com/assets/263285/10055835/f45761de-61fd-11e5-9133-4dfd27e526ec.jpg)

[2015-09-29 22:09] paregorios opened #107 "suppress "download curriculum vitae" link on profiles"
PDF generation for CVs is imperfect, and more importantly, this link appears even when the CV is substantively empty. It's a distraction since the full CV content (if filled out) appears in the profile.

[2015-09-29 22:10] paregorios opened #108 "allow users to upload a PDF or create a page as CV, instead of using the structured maker"

[2015-10-12 20:30] paregorios opened #109 "reduce height of website homepage image slider"
There's general consensus at ISAW that we'd be happier with a different aspect ratio, one that reduces the height relative to the width (which should still span the device). We have not yet tried specific alternatives, and experience tells us that nothing short of iterating on alternatives one by one on the dev instance will get us to closure on such a change.

[2015-11-17 17:19] paregorios commented on #5
transferred to https://github.com/isawnyu/isaw.web/issues/66

[2015-11-17 17:19] #5 closed, assigned to paregorios

[2015-11-17 17:20] paregorios commented on #8
transferred to https://github.com/isawnyu/isaw.web/issues/67

[2015-11-17 17:20] #8 closed, assigned to alecpm

[2015-11-17 17:21] paregorios commented on #27
Transferred to https://github.com/isawnyu/isaw.web/issues/68

[2015-11-17 17:21] #27 closed, assigned to alecpm

[2015-11-17 17:23] paregorios commented on #32
Transferred to https://github.com/isawnyu/isaw.web/issues/69

[2015-11-17 17:23] #32 closed, assigned to alecpm

[2015-11-17 17:24] paregorios commented on #109
transferred to https://github.com/isawnyu/isaw.web/issues/70

[2015-11-17 17:24] #109 closed, assigned to nobody

[2015-11-17 17:25] paregorios commented on #108
Transferred to https://github.com/isawnyu/isaw.web/issues/71

[2015-11-17 17:25] #108 closed, assigned to nobody

[2015-11-17 17:25] paregorios commented on #107
Transferred to https://github.com/isawnyu/isaw.web/issues/72

[2015-11-17 17:25] #107 closed, assigned to nobody

[2015-11-17 17:27] paregorios commented on #106
transferred to https://github.com/isawnyu/isaw.web/issues/73

[2015-11-17 17:27] #106 closed, assigned to nobody

[2015-11-17 17:27] paregorios commented on #105
transferred to https://github.com/isawnyu/isaw.web/issues/74

[2015-11-17 17:27] #105 closed, assigned to nobody

[2015-11-17 17:28] paregorios commented on #104
transferred to https://github.com/isawnyu/isaw.web/issues/75

[2015-11-17 17:28] #104 closed, assigned to nobody

[2015-11-17 17:49] paregorios commented on #102
transferred to https://github.com/isawnyu/isaw.web/issues/76

[2015-11-17 17:49] #102 closed, assigned to paregorios

[2015-11-17 17:51] paregorios commented on #99
transferred to https://github.com/isawnyu/isaw.web/issues/77

[2015-11-17 17:51] #99 closed, assigned to nobody

[2015-11-17 17:52] paregorios commented on #97
transferred to https://github.com/isawnyu/isaw.web/issues/78

[2015-11-17 17:52] #97 closed, assigned to nobody

[2015-11-17 17:53] paregorios commented on #96
transferred to https://github.com/isawnyu/isaw.web/issues/79

[2015-11-17 17:53] #96 closed, assigned to nobody

[2015-11-17 17:54] paregorios commented on #94
transverred to https://github.com/isawnyu/isaw.web/issues/80

[2015-11-17 17:54] #94 closed, assigned to nobody

[2015-11-17 17:55] paregorios commented on #91
transferred to https://github.com/isawnyu/isaw.web/issues/81

[2015-11-17 17:55] #91 closed, assigned to nobody

[2015-11-17 17:56] paregorios commented on #90
transferred to https://github.com/isawnyu/isaw.web/issues/82

[2015-11-17 17:56] #90 closed, assigned to paregorios

[2015-11-17 17:56] paregorios commented on #89
transferred to https://github.com/isawnyu/isaw.web/issues/83

[2015-11-17 17:56] #89 closed, assigned to paregorios

[2015-11-17 17:58] paregorios commented on #88
transferred to https://github.com/isawnyu/isaw.web/issues/84

[2015-11-17 17:58] #88 closed, assigned to paregorios

[2015-11-17 17:59] paregorios commented on #87
relocated to https://github.com/isawnyu/isaw.web/issues/85

[2015-11-17 17:59] #87 closed, assigned to cguardia

[2015-11-17 18:00] paregorios commented on #81
relocated to https://github.com/isawnyu/isaw.web/issues/86

[2015-11-17 18:00] #81 closed, assigned to nobody

[2015-11-17 18:02] paregorios commented on #61
relocated to https://github.com/isawnyu/isaw.web/issues/87

[2015-11-17 18:02] #61 closed, assigned to paregorios

[2015-11-17 18:02] paregorios commented on #33
transferred to https://github.com/isawnyu/isaw.web/issues/88

[2015-11-17 18:03] paregorios commented on #33
Reopening. @k2soule can you take on making a new ticket in the isaw.web tracker for the problem noticed by @rogerbagnall that you commented on above? Thanks.

[2015-11-17 18:06] paregorios commented on #63
transferred to https://github.com/isawnyu/isaw.web/issues/89

[2015-11-17 18:06] #63 closed, assigned to paregorios

[2015-11-17 18:08] paregorios commented on #78
transferred to https://github.com/isawnyu/isaw.web/issues/90

[2015-11-17 18:08] #78 closed, assigned to paregorios

[2015-11-17 18:41] k2soule commented on #33
created a new ticket in isaw.web for the horizontal alignment issue. closing this ticket.

[2015-11-17 18:42] #33 closed, assigned to k2soule